body {
      text-align: center;
    }

    .button-choice{
        height: 100px;
        width: 100px;
        margin: 10px;
        border: none;
        border-radius: 10px;
        background-color: rgb(223, 209, 228);
        cursor: pointer;
    }

    .img-choice{
        height: 60px;
        border-radius: 10px;
        
    }
    .button{
        cursor: pointer;
        padding: 10px 20px;
        font-size: 15px;
        border-radius: 5px;
    }